<%- include('partials/_header') -%>

<body>

  <%- include('partials/_nav') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %> </h1>
            <h2 class="subheading"> <%= post.detail %> </h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on  <%= post.dateCreated %>  </span>
          </div>
        </div>
      
      </div>
      <div class="d-flex gap-2 position-relative  z-3  ">
        <a class="m-3 btn-info px-5 py-2 text-white " href="/post/edit/<%= post._id %>"> Güncelle</a>
        <a class="m-3 btn-danger  px-5 py-2 text-white " href=""> Sil</a>
      </div>
     
    </div>
  </header>

  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
